.main-title {
  color: #fff;
  margin-top: 50px;
  /* font-size: 70px; */
}
.main-subtitle {
  /* margin-top: 50px; */
  font-style: italic;
  color: #fff;
}

/* @media screen and (max-width: 580px) {
  .main-title {
    font-size: 50px;
  }
} */
