.nearby-footer {
  background-color: #162e51;
  color: #fff;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 150px;
}
